
p{
    margin : 5px;
}

a{
    color : black;
}
body{
   font-size : 20px;
   font-family : 'Muli';
}

header{
    text-align : center;
    padding : 10px;
    
}

nav{
    text-align : center;
   margin : 50px;
}

main{
    width : 86%;
    margin : auto;
   
}

h1
{
    text-align : center;
}

footer{
    text-align : center;
}
li{
    list-style-type : none;
}

a{
    text-decoration : none;
}

nav ul{
    padding : 0;
    margin : 0;
    display : flex;
    justify-content : space-around;
}

#inscription
{
    width : 50%;
    margin : auto;
}
#inscription form
{
    margin : 20px;
    text-align : center;
}

#contact, #salles {
    text-align : center;
}

.salle
{
    width : 70%;
    margin : auto;
    background-color : #95a5a6;
    border-radius : 10px;
    padding : 25px;
    margin-bottom : 15px;
    display : flex;
    justify-content : space-around;
    border : gray solid 2px;
    border-radius : 15px;
    box-shadow : black 5px 5px 5px;
    
}
.salle div
{
    width : 40%;
}
.salle img
{
    border : solid 2px black;
    
}

.envoi
{
    padding : 10px;
    font-weight : bold;
    font-size : 17px;
    width : 200px;
}


.produit
{
    display : inline-block;
    font-size : 10px;
    width : 28%;
    border : gray solid 2px;
    border-radius : 15px;
    box-shadow : black 5px 5px 5px;
    padding : 15px;
    text-align : center;
    margin : 10px;
    background-color : white;
    vertical-align : bottom;
}

#categories
{
    display : inline-block;
    width : 25%;
    /*background-color : yellow;*/
    vertical-align : top;
    text-align : center;
    font-size : 25px;
}
#categories ul
{
    text-align : left;
}
#prez_produits
{
    width : 74%;
    /*background-color : red;*/
    display : inline-block;
    text-align : center;
}

#accueil p
{
    text-indent : 70px;
    margin : 20px;
}

.prix
{
    font-size : 30px;
}

.marque
{
    font-size : 12px;
}
.indisponible
{
    border-radius:12px 0 12px 0;
    background: red;
    border:none;
    color:#fff;
    padding:12px;
    box-shadow : black 2px 2px 8px;
}

.disponible
{
    border-radius:12px 0 12px 0;
    background: green;
    border:none;
    color:#fff;
    padding:12px;
    box-shadow : black 2px 2px 8px;
}

header #menu_login{
    position : absolute;
    top : 0;
    right : 0;
}
#blog, #forum
{
    text-align : center;
}